<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>About</h3>
                    <p><b class="boldpink">muku.</b> is the website for Mukundhan Kulur's consulting work.</p>
                </div>
                <!-- End of .col-sm-3 -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Services</h3>
                    <ul>
                        <li>
                            <a href="#">Product Service Innovation</a>
                        </li>
                        <li>
                            <a href="#">Business Design</a>
                        </li>
                        <li>
                            <a href="#">Strategic Transformation</a>
                        </li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Quick Links</h3>
                    <ul>
                    <li>
                        <a class="" href="<?php echo get_site_url(); ?>/index.php" target="_self">home.&nbsp;</a>
                    </li>
                    <li>
                        <a class=""  href="/work.php" target="_self">work.</a>
                    </li>
                    <li>
                        <a class="" href="<?php echo get_site_url(); ?>/about.php"  target="_self">about.</a>
                    </li>
                    <li>
                        <a class=""  href="<?php echo get_site_url(); ?>/contact.php"  target="_self">contact.</a>
                    </li>
                    <li>
                        <a class=""  href="<?php echo get_site_url().'/404.php';?>">free tools.</a>
                    </li>
                    <li>
                        <a class=""  href="<?php echo get_site_url().'/404.php';?>">blog.</a>
                    </li>        
                                           
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Subscribe Now</h3>
                    <form class="subscribe-form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-main">Subscribe Now</button>
                    </form>
                </div>
                <!-- End of .col-sm-3 -->
            </div>
        </div>         
        <!-- end container -->
    </div>
    <div class="footer-bottom">
        <h5>Copyright <script type="text/javascript">
  document.write(new Date().getFullYear());
</script>. All rights reserved.</h5>
        <h6><br></h6>
    </div>
</footer> 
<!-- end footer -->
<!-- end Footer Area
========================================== -->
<!-- 
Essential Scripts
=====================================-->
<!-- Main jQuery -->
<script src="js/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="js/bootstrap/bootstrap.min.js"></script>
   
</body>
</html>

