<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Consulting</h3>
                    <p>
                        <b class="boldpink">muku.</b> is the business website for Mukundhan Kulur's Strategic Consulting.
                    </p>
                    <p>
                        Lokamanya Street, RS Puram
                        Coimbatore 641002
                    </p>
                    <p>
                        <a href="mailto:mukund.kulur@gmail.com" data-rel="external">
                            mukund.kulur@gmail.com <br></a>
                    </p>
                    <p>
                        Mobile:<a href="tel:+91 9566724681" data-rel="external">
                        (+91) 9566724681 <br></a>
                    </p>
                    


                </div>
                <!-- End of .col-sm-3 -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Quick Links</h3>
                    <ul>
                    <li>
                        <a class="" href="{{ site.url }}/" target="_self">home.&nbsp;</a>
                    </li>
                    <li>
                        <a class=""  href="{{ site.baseurl }}/cases.html" target="_self">services.</a>
                    </li>
                    <li>
                        <a class=""  href="/cases.html" target="_self">cases.</a>
                    </li>
                    <li>
                        <a class="" href="{{ site.baseurl }}/about.html"  target="_self">about.</a>
                    </li>
                    <li>
                        <a class=""  href="#"  target="_self">contact.</a>
                    </li>
                    <li>
                        <a class=""  href="{{ site.baseurl }}/404.html">free tools.</a>
                    </li>
                    <li>
                        <a class=""  href="{{ site.baseurl }}/404.html">blog.</a>
                    </li>        
                                           
                    </ul>
                </div>
            <!-- End of .col-sm-3 -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Social Media</h3>
                    <ul class="list-inline social-icon">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/mukundkulur/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/mukundkulur/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-quora"></i></a></li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-behance"></i></a></li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-medium"></i></a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>Newsletter</h3>
                    <form class="subscribe-form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-main">Subscribe Now</button>
                    </form>
                </div>
                <!-- End of .col-sm-3 -->
            </div>
        </div>         
        <!-- end container -->
    </div>
    <div class="footer-bottom">
        <h5>Copyright <script type="text/javascript">
  document.write(new Date().getFullYear());
</script>. All rights reserved.</h5>
        <h6><br></h6>
    </div>
</footer> 
<!-- end footer -->
<!-- end Footer Area
========================================== -->
<!-- 
Essential Scripts
=====================================-->
<!-- Main jQuery -->
<script src="js/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="js/bootstrap/bootstrap.min.js"></script>
   
</body>
</html>


<!-- 
<div class="row">
  <div class="col-12 col-md-4">
    <div class="address-block contact-meta-block">
    <img src="/images/icons/1x/send-2.png" alt="client" class="img-fluid contact-img">
    <h4>Email</h4>
    <a href="mailto:mukund.kulur@gmail.com" data-rel="external">mukund.kulur @ gmail.com</a>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="phone-block contact-meta-block">
    <img src="/images/icons/1x/phone-2.png" alt="client" class="img-fluid contact-img">
    <h4>Reach Out</h4>
   
    </div>
  </div>
<div class="col-12 col-md-4">
<div class="social-icons-block contact-meta-block">
<img src="/images/icons/1x/multiple-11.png" alt="contact" class="img-fluid contact-img">
<h4>Social links</h4>

</div>
</div>
</div>		 -->