 <!--
Fixed Navigation
==================================== -->
        <section class="header navigation" data-pgc-define="navigator" data-pgc-define-name="navigation bar" data-pgc-define-photo-preview-only>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-md">
                            <a class="navbar-brand" href="{{ site.url }}">
                                <img src="/images/muku_logo_white.png" alt="logo" width="100" class="text-left">
                            </a>

                            <div class="opacity-nav">
                                <div class="menu-index" id="buttons" style="z-index:999999">
                                <i class="fa fa-close"></i>
                            </div>
                        
                            <ul class="menu-fullscreen">
                              <li><a class="ajax-link" href="single.html">Home</a></li>
                              <li><a class="ajax-link" href="projects.html">Projects</a></li>
                              <li><a class="ajax-link" href="about-us.html">About us</a></li>
                              <li><a class="ajax-link" href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                        
                        
                          <!--Header-->
                          <header id="fullscreen">
                                <div class="menu-index" id="button">
                                    <i class="fa fa-bars"></i>
                                </div>
                          </header>


                            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item dropdown active">
                                        <a class="nav-link" href="{{ site.url }}" target="_self">home.&nbsp;</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#services" target="_self" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">services.</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" target="_self" href="404.html">Strategic Transformation.</a>
                                                <a class="dropdown-item" target="_self" href="404.html">Business Design.</a>
                                                <a class="dropdown-item" target="_self" href="404.html">Product Service Innovation.</a>
                                            </div>
                                        </li>
                                    <li class="nav-item">
                                        <a class="nav-link"  href="{{ site.baseurl }}/cases.html" target="_self">cases.</a>
                                    </li> 
                                    <li class="nav-item">
                                        <a class="nav-link" href="#about"  target="_self">about.</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"  href="#contact"  target="_self">contact.</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" target="_self" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">articles.</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" target="_self" href="{{ site.baseurl }}/404.html">free tools.</a>
                                            <a class="dropdown-item" target="_self" href="{{ site.baseurl }}/404.html">blog.</a>
                                            
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </section>